* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FonteTitulo;
    src: url(../fonts/static/Cabin-BoldItalic.ttf);
}

@font-face {
    font-family: Paragrafos ;
    src: url(../fonts/Cabin-Italic-VariableFont_wdth\,wght.ttf
    );
}

h1{
    text-align: center;
    font-family: FonteTitulo;
    font-size: 75px !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    background-color: #4370b4 !important;
}

header{
    width: 100%;
    background-color: aliceblue;
}

.container{
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-title{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-title h2{
    color: #ffffff;
    font-family: Paragrafos;
}

.img-box{
    display: inline-flex;
    align-items: center;
}